.homebody{
    background-color: #FAF3E0;
}
.img1{
    height: 200px;
border-radius: 10px;
margin: 10px;
margin-left: 43%;
text-align: center;}
.main-heading{
    color: #3B1F1F;
    font-size: 60px;
}
p{
    color: #FFD700;
    font-weight: bold;
    font-size: larger;
}
span{
    color: #800000;
    font-size: large;
}
.bodyhome{
    text-align: center;
}